@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Peralta&family=Reem+Kufi+Fun:wght@400..700&display=swap");

.cart-page-container {
  font-family: "Grandstander", sans-serif;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1711101835/boxi/djambo1990_51954_a_young_couple_in_a_fleamarket_debating_whethe_8d7310e2-dfa3-4b71-99b8-275c9d505c0f_ogiahw.png");
  background-size: cover;
  margin: 0;
}

.products-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.cart-products-container {
  margin-top: 10vh;
  margin-left: 5vw;
  height: 60vh;
  width: 30vw;
  overflow-y: scroll;
}

.cart-product-card {
  background-color: antiquewhite;
  color: black;
  border-radius: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.cart-product-card-item {
  display: flex;
  gap: 1vw;
}

.trending-item-card-top-section img {
  margin-left: 3vh;
  height: 20vh;
}

.trending-item-card-bottom-section {
  background-color: antiquewhite;
}

.payment-button {
  height: 10vh;
  width: 12vw;
  background-color: bisque;
  border-radius: 5vh;
}

.payment-button a {
  font-family: "Peralta", sans-serif;
  color: black;
  font-size: 3vh;
  text-decoration: none;
}

.cart-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.total-cart-price {
  background-color: antiquewhite;
  color: black;
  width: 10vw;
  height: 4vw;
  border-radius: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
