@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header-container {
  font-family: "Literata", sans-serif;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  background-color: antiquewhite;
}
.edo-logo-container {
  background-color: transparent;
}

.edo-logo-container img {
  height: 10vh;
}

.boxi-logo-container {
  background-color: transparent;
}

.boxi-logo-container img {
  height: 10vh;
}

.cart-image-container {
  background-color: transparent;
}

.cart-image-container img {
  height: 10vh;
}

.header-container button {
  font-size: 2vh;
  background-color: transparent;
  height: 4vh;
  width: 15vw;
  overflow: hidden;
  border-radius: 2vh;
  color: black;
}

.header-container a {
  font-family: "Kablammo", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.user-or-artisan-toggle-container label {
  font-family: "Lora", sans-serif;
  color: black;
  font-size: 1.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
