.trending-items-container {
  margin: 1vh;
  height: 50vh;
  display: flex;
  width: 100%;
  gap: 2vw;
}

.trending-item-card {
  background-color: white;
  color: black;
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 0vh;
  justify-content: center;
  align-items: center;
}

.trending-item-card img {
  height: 10vh;
}
